* {
  /* https://fonts.google.com/specimen/Heebo?category=Sans+Serif&thickness=9&sidebar.open=true&selection.family=Heebo:wght@200;400;900 */
  font-family: 'Heebo', sans-serif;;
}

body {
  background-color: #FEF900;
}

input {
  width: 100%;
}

.center {
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: space-around;
  width: 100%;
}