:root {
  --darkBlue: #0059fe;
  --blue: #4FBEDB;
  --yellow: #FEF900;
}

a:link {
  color: var(--darkBlue);
  text-decoration: none;
}
a:visited {
  color: var(--darkBlue);
  text-decoration: none;
}
a:hover {
  color: var(--blue);
  text-decoration: none;
}
a:active {
  color: var(--blue);
  text-decoration: none;
}

* {
  /* https://fonts.google.com/specimen/Heebo?category=Sans+Serif&thickness=9&sidebar.open=true&selection.family=Heebo:wght@200;400;900 */
  font-family: 'Heebo', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 5px 0px 0px 5px;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 0;
  border-bottom: 3px solid black;
  padding-left: 7px;
  width: 45%;
  font-size: 30px;
}

.button {
  border-radius: 0px 5px 5px 0px;
  border-top: 3px solid black;
  border-left: 0;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  padding: 1px 9px 1px 9px;
  font-size: 30px;
}
.button, .input {
  transition-duration: 0.4s;
}

.button.hover {
  border-top: 3px solid var(--yellow);
  border-right: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
  background-color: var(--yellow); 
}

.input.hover {
  border-top: 3px solid var(--yellow);
  border-left: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
  color: #4FBEDB;
}

.footerSpacer {
  margin: 15%;
}

.shortenerCenter {
  display: flex;
  justify-content: center;
  margin-top: 10;
}

.nav {
  display: flex;
  justify-content: center;
}

.navCenter {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.spacer {
  padding-left: 10px;
  padding-right: 10px;
}
