* {
  font-family: Arial, Helvetica, sans-serif;
}

.lightTheme {
  background-color: lightblue;
  color: darkslategray
}

.darkTheme {
  background-color: darkslategray;
  color: lightblue;
}

.flex {
  display: flex;
  justify-content: space-around;
}