* {
  font-family: Arial, Helvetica, sans-serif;
}

 .light-theme {
  background-color: lightblue;
  color: darkslategray
}

.dark-theme {
  background-color: darkslategray;
  color: lightblue;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 2%;
}