.box{
    border:black 2px solid;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    background-color: white;
}

.grid{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}